.nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 5rem;
    background: #fff;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

    @include respond(phone) {
        display: none;
    }

    &__navi {
       
        display: flex;
        width: 100%;
        margin: 0rem 2rem;
        margin-top: .2rem;
    }

    // CART BUTTON
    &__btn {
        position: relative;
        background: $primary;
        border: none;
        padding: 2rem 2.5rem;
        display: inline-block;
        border-radius: 50%;
        transition: all .2s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        outline: none;
        cursor: pointer;

        &--visible-1 {
            display: inline-block;
            margin-top: .4rem;
            transition: all .2s;
            
        }

        &--invisible-1 {
           
            display: none;
        }

        &--invisible-2 {
            
            display: none;
        }

        &--visible-2 {
            top: 0;
            opacity: 1;
            height: 100%;
            width: 100%;
            padding: 3rem 5rem;
            display: inline-block;
            margin-top: .4rem;
            transition: all .2s;
            
        }
        
        @include respond(phone) {
            margin-top: -6rem;
            padding: 1.7rem 2rem;
            
            
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10rem 20rem rgba(#333,.2);
           
        }
        
        &--icon {
            width: 4rem;
            height: 4rem;

            @include respond(phone) {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }

    &__link {
        margin-top: 1.6rem;
        position: relative;
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        overflow: hidden;
        width: 10rem;
        margin: auto;
        color: $gray;
        text-align: center;
        overflow: hidden;

        @include respond(phone) {
            font-size: 1rem;
            width: 1rem;

        }

        &--icon {
            width: 3rem;
            height: 3rem;
            fill: $gray;
        }



        &--visible {
            display: inline-block;
            padding: 2.6rem;
            height: 100%;
            width: 100%;
            transition: all .2s;
            opacity: 1;
        }
    
        &--invisible {
            display: inline-block;
            position: absolute;
            padding: 3rem 0rem;
            height: 100%;
            width: 100%;
            left: 0;
            top: -110%;
            transition: all .2s;
            opacity: 0;
        }

        &:hover &--visible {
            transform: translateY(100%);
            opacity: 0;
        }

        &:hover &--invisible {
            top: 0;
            opacity: 1;
        }

    }

   
}

// CART
.cart {
    position: fixed;
    background: #fff;
    height: 41rem;
    width: 50rem;
    border-radius: 20px;
    margin: auto;
    margin-top: 32rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-weight: bold;

    z-index: 9998;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

    animation-name: visibleIn2;
    animation-duration: 1s;

    @include respond(phone) {
        margin-top: 22rem;
        width: 38rem;
        height: 42rem;
        top: 7%;
        
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding: 1rem;
        width: 100%;
        height: 27rem;
        overflow: auto;
        
    }

    // CART ITEM
    &__item {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        font-size: 1.6rem;
        margin-bottom: 1rem;

        &--img {
            display: inline-block; 
            position: relative; 
            width: 5rem; 
            height: 5rem; 
            overflow: hidden; 
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        &--qty {
            
            margin-left: 1rem;
            width: 2rem;
            
            
        }

        &--name {
            width: 22rem;
            

            @include respond(phone) {
                width: 15rem;
            }
        }

        &--btn {
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
        }

        &--icon {
            width: 3.2rem;
            height: 3.2rem;
            fill: $gray;
        }
    }

    // TOTAL > CHECKOUT
    &__checkout {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        padding: 1rem;
        

        &--total {
            text-align: center;
            margin-top: .5rem;
            font-size: 2rem;
        }

        &--btn {
            margin-top: 1rem;
            font-size: 1.6rem;
            padding: 1.5rem;
            background: $gray;
            border: none;
            border-radius: 25px;
            color: #fff;
            transition: all .2s;
            cursor: pointer;
            box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10rem 20rem rgba(#333,.2);
               
            }
        }
    }

   &__active {
      display: block;
   }

   &__container {
       width: 100%;
   }
}

// Phone responive navigation
.phone__nav {
    width: 100%;
    height: 15rem;
    display: flex;
    margin-bottom: -4rem;
    display: flex;
    align-items: center;
    
    z-index: 99997;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #fff;
        padding: 1.2rem 1.5rem;
        width: 40rem;
        width: 100%;
        
    }

    &--link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        font-size: 1rem;
        color: $gray;
        font-weight: bold;
        margin: 0rem 2rem;
    }
}

// LANDPAGE TITLES
.titles {
    display: flex;
    color: #fff;
    margin-bottom: 3rem;

    @include respond(tab-port) {
        flex-direction: column;
    }

    &__1 {
        font-size: 4.2rem;
        font-weight: 500;

        animation-name: visibleIn;
        animation-duration: 4s;

        @include respond(tab-land) {
            font-size: 5rem;
        }

        @include respond(phone) {
            font-size: 3.2rem
        }

       
    }

    &__2 {
        margin-left: 2rem;
        font-size: 3rem;

        animation-name: movesInLeft2;
        animation-duration: 4s;

        @include respond(tab-land) {
            font-size: 3.5rem;
        }

        @include respond(phone) {
            font-size: 2.2rem;
            margin: 0;
        }

       
    }

    &__line {
        width: 100%;
        height: 7px;
        border-radius: 20px;
        background: $primary-blue;

        animation-name: lineToRight;
        animation-duration: 3s;
    }
}


// ANIMATIONS
@keyframes lineToRight {
    0% {
        opacity: 0;
        width: 0%;
        transform: translate(-50px);
    }

    100% {
        opacity: 1;
        width: 100%;
        transform: translate(0);
    }
}

@keyframes movesInLeft2 {
    0% {
        opacity: 0;
        transform: translateX(100px);
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes visibleIn {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        
    }
}

@keyframes visibleIn2 {
    0% {
        opacity: 0;
        transform: scale(0.7);
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}

// Product Carousel
.carousel1 {
    position: relative;
    width: 110rem;
    height: 60rem; 
    margin: 0 auto;
    z-index: 3;

    &__heading {
        font-size: 2.4rem;
        margin-left: 2rem;
    }

    @include respond(big-desktop) {
        width: 140rem;
    }

    @include respond(tab-land) {
        width: 90rem;
    }

    @include respond(phone) {
        width: 35rem;
    }
    
    
}

.carousel__icon {
    width: 3rem;
    height: 3rem;
    margin-top: .4rem;
}
  
  .carousel-content {
    position: relative;
    overflow: hidden;
    transition: width .4s;
    height: 100%;
   
  }
  
  .slide {
    height: 100%;
    
    position: absolute;
    
    
    transition: left .4s cubic-bezier(.47,.13,.15,.89);
  }
    
  .c-navi {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    margin-top: -10px;
    background-color: $primary;
    width: 6rem;
    height: 6rem;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    -webkit-user-select: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @include respond(phone) {

    }
  }
  
  .nav-left {
    left: -2.5rem;

    @include respond(phone) {
        left: -1.7rem;
    }
  }
  
  .nav-right {
    right: -2.5rem;

    @include respond(phone) {
        right: -1.7rem;
    }
  }
  
  .carousel-arrow-icon-left {
    margin-left: 5px;
    margin-top: 2px;
  }
  
  .carousel-arrow-icon-right {
    margin-left: 7px;
    margin-top: 2px;
}

// PRODUCT ITEM
.product {
    
    margin: 5rem auto;
    width: 25rem;
    height: 50rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

    @include respond(tab-land) {
        margin: 2rem auto;
    }
    

   &__img {
       
       width: 100%;
       height: auto;
       border-radius: 10px;
       background: $primary;
       
       background-color: #000000;
        background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

       img {
           width: 100%;
           border-radius: 10px;
       }
   }

   &__desc {
       display: flex;
       flex-direction: column;
       justify-content: center;
       font-weight: bold;
       width: 100%;
       text-align: center;
       padding-top: 1.5rem;
       height: 7rem;
       
      

       &--name {
           font-size: 1.6rem;
       }

       &--price {
           font-size: 2.2rem;
       }
   }

   &__btns {
       display: flex;
       flex-direction: column;
       margin: 1rem;
       height: 5rem;
   }

   &__btn {
       display: flex;
       align-items: center;
       justify-content: center;
       

       &,
       &:link {
           font-size: 1.6rem;
           border-radius: 30px;
           border: none;
           cursor: pointer;
           transition: all .2s;
           text-decoration: none;
           padding: .6rem;
           font-weight: bold;
           margin: .5rem 0rem;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10rem 20rem rgba(#333,.2);
        }

       &--icon {
           width: 2.2rem;
           height: 2.2rem;
           margin-right: 1rem;
       }
   }
}