.nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 5rem;
    background: #fff;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

    @include respond(phone) {
        display: none;
    }

    &__navi {
       
        display: flex;
        width: 100%;
        margin: 0rem 2rem;
        margin-top: .2rem;
    }

    // CART BUTTON
    &__btn {
        position: relative;
        background: $primary;
        border: none;
        padding: 2rem 2.5rem;
        display: inline-block;
        border-radius: 50%;
        transition: all .2s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        outline: none;
        cursor: pointer;

        &--visible-1 {
            display: inline-block;
            margin-top: .4rem;
            transition: all .2s;
            
        }

        &--invisible-1 {
           
            display: none;
        }

        &--invisible-2 {
            
            display: none;
        }

        &--visible-2 {
            top: 0;
            opacity: 1;
            height: 100%;
            width: 100%;
            padding: 3rem 5rem;
            display: inline-block;
            margin-top: .4rem;
            transition: all .2s;
            
        }
        
        @include respond(phone) {
            margin-top: -6rem;
            padding: 1.7rem 2rem;
            
            
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10rem 20rem rgba(#333,.2);
           
        }
        
        &--icon {
            width: 4rem;
            height: 4rem;

            @include respond(phone) {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }

    &__link {
        margin-top: 1.6rem;
        position: relative;
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        overflow: hidden;
        width: 10rem;
        margin: auto;
        color: $gray;
        text-align: center;
        overflow: hidden;

        @include respond(phone) {
            font-size: 1rem;
            width: 1rem;

        }

        &--icon {
            width: 3rem;
            height: 3rem;
            fill: $gray;
        }



        &--visible {
            display: inline-block;
            padding: 2.6rem;
            height: 100%;
            width: 100%;
            transition: all .2s;
            opacity: 1;
        }
    
        &--invisible {
            display: inline-block;
            position: absolute;
            padding: 3rem 0rem;
            height: 100%;
            width: 100%;
            left: 0;
            top: -110%;
            transition: all .2s;
            opacity: 0;
        }

        &:hover &--visible {
            transform: translateY(100%);
            opacity: 0;
        }

        &:hover &--invisible {
            top: 0;
            opacity: 1;
        }

    }

   
}

// CART
.cart {
    position: fixed;
    background: #fff;
    height: 41rem;
    width: 50rem;
    border-radius: 20px;
    margin: auto;
    margin-top: 32rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-weight: bold;

    z-index: 9998;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

    animation-name: visibleIn2;
    animation-duration: 1s;

    @include respond(phone) {
        margin-top: 22rem;
        width: 38rem;
        height: 42rem;
        top: 7%;
        
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding: 1rem;
        width: 100%;
        height: 27rem;
        overflow: auto;
        
    }

    // CART ITEM
    &__item {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        font-size: 1.6rem;
        margin-bottom: 1rem;

        &--img {
            display: inline-block; 
            position: relative; 
            width: 5rem; 
            height: 5rem; 
            overflow: hidden; 
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        &--qty {
            
            margin-left: 1rem;
            width: 2rem;
            
            
        }

        &--name {
            width: 22rem;
            

            @include respond(phone) {
                width: 15rem;
            }
        }

        &--btn {
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
        }

        &--icon {
            width: 3.2rem;
            height: 3.2rem;
            fill: $gray;
        }
    }

    // TOTAL > CHECKOUT
    &__checkout {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        padding: 1rem;
        

        &--total {
            text-align: center;
            margin-top: .5rem;
            font-size: 2rem;
        }

        &--btn {
            margin-top: 1rem;
            font-size: 1.6rem;
            padding: 1.5rem;
            background: $gray;
            border: none;
            border-radius: 25px;
            color: #fff;
            transition: all .2s;
            cursor: pointer;
            box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10rem 20rem rgba(#333,.2);
               
            }
        }
    }

   &__active {
      display: block;
   }

   &__container {
       width: 100%;
   }
}

// Phone responive navigation
.phone__nav {
    width: 100%;
    height: 15rem;
    display: flex;
    margin-bottom: -4rem;
    display: flex;
    align-items: center;
    
    z-index: 99997;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #fff;
        padding: 1.2rem 1.5rem;
        width: 40rem;
        width: 100%;
        
    }

    &--link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        font-size: 1rem;
        color: $gray;
        font-weight: bold;
        margin: 0rem 2rem;
    }
}

// LANDPAGE TITLES
.titles {
    display: flex;
    color: #fff;
    margin-bottom: 3rem;

    @include respond(tab-port) {
        flex-direction: column;
    }

    &__1 {
        font-size: 4.2rem;
        font-weight: 500;

        animation-name: visibleIn;
        animation-duration: 4s;

        @include respond(tab-land) {
            font-size: 5rem;
        }

        @include respond(phone) {
            font-size: 3.2rem
        }

       
    }

    &__2 {
        margin-left: 2rem;
        font-size: 3rem;

        animation-name: movesInLeft2;
        animation-duration: 4s;

        @include respond(tab-land) {
            font-size: 3.5rem;
        }

        @include respond(phone) {
            font-size: 2.2rem;
            margin: 0;
        }

       
    }

    &__3 {
        font-size: 5rem;
        background: $primary;
        padding: 1rem 2rem;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 35rem;
        color: #fff;

        animation-name: movesInRight;
        animation-duration: 3s;

        @include respond(phone) {
            width: 100%;
            font-size: 3rem;
        }
    }

    &__line {
        width: 100%;
        height: 7px;
        border-radius: 20px;
        background: $primary-blue;

        animation-name: lineToRight;
        animation-duration: 3s;
    }
}


// ANIMATIONS
@keyframes movesInRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
        
    }
}

@keyframes lineToRight {
    0% {
        opacity: 0;
        width: 0%;
        transform: translate(-50px);
    }

    100% {
        opacity: 1;
        width: 100%;
        transform: translate(0);
    }
}

@keyframes movesInLeft2 {
    0% {
        opacity: 0;
        transform: translateX(100px);
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes visibleIn {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        
    }
}

@keyframes visibleIn2 {
    0% {
        opacity: 0;
        transform: scale(0.7);
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}

// Product Carousel
.carousel {
    position: relative;
    width: 110rem;
    height: 60rem; 
    margin: 0 auto;
    z-index: 3;

    &__heading {
        font-size: 2.4rem;
        margin-left: 2rem;
        margin-bottom: 3rem;
    }

    @include respond(big-desktop) {
        width: 140rem;
    }

    @include respond(tab-land) {
        width: 90rem;
    }

    @include respond(phone) {
        width: 35rem;
    }
    
    
}

.carousel__icon {
    width: 3rem;
    height: 3rem;
    margin-top: .4rem;
}
  
  .carousel-content {
    position: relative;
    overflow: hidden;
    transition: width .4s;
    height: 100%;
   
  }
  
  .slide {
    height: 100%;
    
    position: absolute;
    
    
    transition: left .4s cubic-bezier(.47,.13,.15,.89);
  }
    
  .c-navi {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    margin-top: -10px;
    background-color: $primary;
    width: 6rem;
    height: 6rem;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    -webkit-user-select: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @include respond(phone) {

    }
  }
  
  .nav-left {
    left: -2.5rem;

    @include respond(phone) {
        left: -1.7rem;
    }
  }
  
  .nav-right {
    right: -2.5rem;

    @include respond(phone) {
        right: -1.7rem;
    }
  }
  
  .carousel-arrow-icon-left {
    margin-left: 5px;
    margin-top: 2px;
  }
  
  .carousel-arrow-icon-right {
    margin-left: 7px;
    margin-top: 2px;
}

// PRODUCT ITEM
.product {
    
    margin: auto;
    width: 25rem;
    height: 50rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

    @include respond(tab-land) {
        margin: 2rem auto;
    }
    

   &__img {
       
       width: 100%;
       height: auto;
       border-radius: 10px;
       background: $primary;
       
       background-color: #000000;
        background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

       img {
           width: 100%;
           border-radius: 10px;
       }
   }

   &__desc {
       display: flex;
       flex-direction: column;
       justify-content: center;
       font-weight: bold;
       width: 100%;
       text-align: center;
       padding-top: 1.5rem;
       height: 7rem;
       
      

       &--name {
           font-size: 1.6rem;
       }

       &--price {
           font-size: 2.2rem;
       }
   }

   &__btns {
       display: flex;
       flex-direction: column;
       margin: 1rem;
       height: 10rem;
   }

}

//////////////////////////////
// CONTACT

.heading {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 2rem;

    @include respond(phone) {
        font-size: 3rem;
    }

    &__green {
        color: $primary;
    }
}

.contact {
    display: flex;
    align-items: center;
    width: 120rem;
    margin: auto;

    @include respond(tab-land) {
        width: 90rem;
    }

    @include respond(tab-port) {
        width: 100%;
        flex-direction: column-reverse;
    }

    &__svg {
        flex: 0 0 60%;

        svg {
           
           
            @include respond(tab-port) {
                width: 25rem;
                height: 30rem;
            }
        }
    }

    &__form {
        flex: 1;
        margin-left: 3rem;
        padding: 1rem;
        
        @include respond(tab-port) {
            margin: 0;
            width: 70%;
        }

        @include respond(phone) {
            width: 90%;
        }

        &--group {
            margin: 1.2rem 0rem;
            width: 100%;

            label {

                font-family: 'Lato', sans-serif;
                font-weight: bold;
                font-size: 1.6rem;
                margin-bottom: .2rem;
                color: $primary;
            }

            input {
                width: 100%;
                padding: .8rem;
                border: none;
                background: none;
                outline: none;
                border-bottom: 2px solid $primary;
                
                &[type=text] {
                    color: $primary;
                    

                }

                &[type=email] {
                    color: $primary;
                }
            }

            textarea {
                width: 100%;
                padding: 1rem;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                color: $primary;
                outline: none;
                margin: 1rem 0rem;

                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $primary;
                    font-size: 1.6rem;
                    font-weight: bold;
                    font-family: 'Lato', sans-serif;
                   
                    opacity: 1; /* Firefox */
                }
            }
        }

        &--icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: .5rem;
        }
    }
}

.footer {
       
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    width: 100%;

    @include respond(phone) {
        width: 40rem;
        margin: auto;
    }
    

    &__social {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        &--nav {
            display: flex;
            align-items: center;
        }

        &--link {
            margin: .5rem 2rem;

        }
    }


    &__main {
        margin-top: 1rem;
        height: auto;

        &--nav {
            height: 12rem;
            
        }

        &--link {
            
            color: $primary;
            text-decoration: none;
            margin: .5rem 2rem;
            transition: all .2s;
             display: inline-block;
             padding: .5rem;
             border-radius: 5px;
            
            &:hover {
                // background: $gray;
                
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transform: rotate(5deg) scale(1.3);

                @include respond(phone) {
                    box-shadow: none;
                    transform: none;
                }
            }

        }
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        fill: #474B4F;
        transition: all .2s;

        &:hover {
            fill: $primary;
        }
    }

    &__copyright {
        margin-top: 2rem;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        color: #474B4F;
        font-weight: bold;
    }

    &__line {
        border-bottom: 2px solid $primary;
        margin: 2rem auto;
        width: 50%;

        @include respond(phone) {
            width: 90%;
        }
    }
}

.facebook {
    width: 3.2rem;
    height: 3.2rem;
}


// PRODUCTS

.products {
    margin: 0rem auto;
    display: grid;
    
    grid-template-columns: [full-start] minmax(12rem, 1fr) [center-start] repeat(8,
    [col-start] minmax(min-content, 25rem) [col-end]) [center-end] minmax(12rem, 1fr) [full-end];

    @include respond(big-desktop) {
        grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8,
        [col-start] minmax(min-content, 25rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end];
    }

    @include respond(phone) {
        grid-template-columns: [full-start] minmax(8rem, 1fr) [center-start] repeat(8,
        [col-start] minmax(min-content, 25rem) [col-end]) [center-end] minmax(8rem, 1fr) [full-end];
    }

    &__list {
        display: grid;
        grid-column: center-start / center-end;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
        grid-gap: 3rem;
        height: auto;
        width: 100%;
        
    }
}

.pro {
    // position: fixed;
    height: 15rem;
    width: 100%;
    margin: 3rem auto;
    // background: red;
    z-index: 5;

    @include respond(phone) {
        display: none;
    }

    &__container {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
       
        
    }

    &__search {
        margin-top: 1.2rem;
        display: flex;
        justify-content: center;
        

        @include respond(phone) {
            width: 100%;
        }

        

        &--icon {
            width: 2.2rem;
            height: 2.2rem;
        }

        button {
            border: none;
            background: none;
            cursor: pointer;
            margin-right: 1rem;
            transition: all .2s;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10rem 20rem rgba(#333,.2);
               
            }
        }

        input {
            border: none;
            background: none;
            border-bottom: 2px solid #000;
            outline: none;
            font-size: 1.5rem;
            color: #000;
            width: 60%;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #000;
                font-weight: bold;
                font-family: 'Lato', sans-serif;
                padding-left: .2rem;
                opacity: 1; /* Firefox */
            }
        }
    }

    input[type="search"] {
        -webkit-appearance: none;
    }

    &__nav {
        display: flex;
        justify-content: center;
        
       
    }

    &__link {
        
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        color: #fff;
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 10px;
        height: 7.5rem;
        transition: all .2s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        margin-left: 1rem;
        margin-right: 1rem;

        @include respond(phone) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            margin: 1rem;
            // padding: 1rem 2rem;
            
            
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10rem 20rem rgba(#333,.2);
           
        }

        &--2 {
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            height: 7.5rem;
            padding: .9rem 4rem;
            color: #fff;
            font-size: 1.5rem;
            text-decoration: none;
            border-radius: 10px;
            transition: all .2s;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-left: 1rem;
            margin-right: 1rem;

            @include respond(phone) {
                margin: 1rem;
            }

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10rem 20rem rgba(#333,.2);
               
            }
        }
    }

    &__icon {
        margin-right: .5rem;
        margin-left: auto;
        margin-top: auto;
        width: 2.5rem;
        height: 2.5rem;
        padding: .5rem;
        background: #fff;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__logo {
        display: flex;
        align-items: center;
        width: 3.6rem;
        height: 3.6rem;

        &--2 {
            display: flex;
            align-items: center;
            width: 6rem;
            height: 6rem;
            

        }
    }

    &__black {
        background: #222629;
    }

    &__green {
        background: #15DB95;
    }

    &__purple {
        background: #3500D3;
    }


    &__white {
        background: #fff;
    }
}

.pro__sticky {
    position: fixed;
    bottom: 0;
    margin: 0rem;
    height: 14rem;
    background: $primary;
    transition: all .2s;

    @include respond(phone) {
        display: none;
    }
}

// Products navigation (phone)
.pro-phone {
    display: none;


    @include respond(phone) {
        white-space: nowrap;
        position: fixed;
        top: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        overflow-y: hidden;
        background: #fff;
        height: 17rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       

        &::-webkit-scrollbar {
            display: none;
           
        }

    }
    
    &__nav {
        display: flex;
        width: 100%;
        padding-right: 3rem;
        padding: .5rem;
        

    }

    &__container {
        padding-right: 1rem;
         overflow-x: scroll;
         width: 100%;
        overflow-y: hidden;
    }

    &__close {
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
        
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0rem 2rem;
    }

    &__search {
        
        display: flex;
        justify-content: center;
        

        @include respond(phone) {
            width: 100%;
        }

        &--icon {
            width: 2.2rem;
            height: 2.2rem;
        }

        button {
            border: none;
            background: none;
            cursor: pointer;
            margin-right: 1rem;
            transition: all .2s;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10rem 20rem rgba(#333,.2);
               
            }
        }

        input {
            border: none;
            background: none;
            border-bottom: 2px solid #000;
            outline: none;
            font-size: 1.5rem;
            color: #000;
            width: 80%;
            padding: 1rem .1rem;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #000;
                font-weight: bold;
                font-family: 'Lato', sans-serif;
                padding-left: .2rem;
                opacity: 1; /* Firefox */
            }
        }

    }

    &__hidden {
        display: none;
    }
}

.filter {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    transition: all .2s;
    
    @include respond(phone) {
     display: flex;
    }
   

   
    

    &__btn {
        padding: .9rem 1.4rem;
        border-radius: 50%;
        border: none;
        background: $primary;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
    }

    &__icon {
        margin-top: .5rem;
        width: 4rem;
        height: 4rem;
    }
}


// DETAILS SLIDER
.details {
    margin-top: -10rem;
    width: 120rem;
    margin: auto;

    display: flex;

    @include respond(tab-port) {
        margin-top: -15rem;
        width: 100%;
        flex-direction: column;
    }

    &__slider {
        flex: 0 0 30%;
        
        position: relative;
        display: flex;
        justify-content: center;
        
        margin: auto;
        height: 42rem;
        width: 40rem;
        border-radius: 10px;
        // max-width: 50rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

        @include respond(tab-port) {
            flex: none;
        }

        @include respond(phone) {
            width: 35rem;
        }
    }

    &__slide {
        
        position: absolute;
        
        width: 100%;
        height: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;

        & > img {
            
            height: 100%;
            width: 30rem;
            margin: auto;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $primary;
        padding: 1rem 1.2rem;
        width: 5rem;
        border: none;
        cursor: pointer;

        &--left {
            left: 10%;
            transform: translate(-50%, -50%);
            opacity: 0.9;
        }

        &--right {
            right: 10%;
            transform: translate(50%, -50%);
            opacity: 0.9;
        }

        &--icon {
            width: 3rem;
            height: 3rem;
            
        }
    }

    &__desc {
        flex: 1;
        padding-top: 20rem;
        margin: 5rem;

        @include respond(tab-port) {
            padding-top: 3rem;
        }

        &--head {
            display: flex;
            align-items: center;

            @include respond(phone) {
                flex-direction: column;
                justify-content: center;
            }

            h1 {
                font-size: 2.7rem;
                
                @include respond(phone) {
                    font-size: 2.5rem;
                }
            }

            span {
                font-size: 3.2rem;
                font-weight: bold;
                margin-left: auto;

                @include respond(phone) {
                    margin: auto;
                    font-size: 2.8rem;
                }
            }
        }

        &--body {
            margin-top: 1rem;

            p {
                font-size: 1.6rem;
                font-weight: bold;

                
            }
        }

        &--list {
            margin: 3rem 0rem;

            @include respond(phone) {
                display: flex;
                flex-direction: column;
            }
        }

        &--item {
            display: flex;
            align-items: center;
            margin: 1rem 0rem;

            span {
                font-size: 1.6rem;

                @include respond(phone) {
                    
                    width: 30rem;
                }
            }
        }

        &--icon {
            width: 3rem;
            height: 3rem;
            fill: $primary;
            margin-right: 2rem;

            @include respond(phone) {
                width: 2rem !important;
                height: 2rem !important;
            }
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;

        &--icon {
            width: 2.7rem;
            height: 2.7rem;
            margin-right: 1.5rem;
        }
    }

    &__dots {
        position: absolute;
        bottom: 5%;
    }

    &__dot {
        border: none;
        background-color: #b9b9b9;
        opacity: 0.7;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        margin-right: 1.75rem;
        cursor: pointer;
        transition: all 0.5s;
        

        &:last-child {
            margin: 0;
        }

        &--active {
            background-color: $primary;
            opacity: 1;
        }
    }
}


